html{
scroll-behavior: smooth;

/* <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Handlee&family=Henny+Penny&family=Irish+Grover&family=Lobster&family=Pacifico&family=Parisienne&family=Patrick+Hand&family=Red+Hat+Mono:ital,wght@1,300&display=swap" rel="stylesheet"> */


/* font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Handlee', cursive;
font-family: 'Henny Penny', cursive;
font-family: 'Irish Grover', cursive;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Red Hat Mono', monospace; */






}


[class*="col-"]{
    width: 100%;
}
[class*="col-"]{
  float: left;
padding: 20px;

}
.row{
    width: 100%;


}
.row::after{
 clear: both;
content: '';
    display: block;
}


 





/* for mobile  screen */
@media screen and (min-width:576px) {


    .col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.33%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
 .col-s-12 {width: 100%;} 


}
/* for  tab screen */
@media screen and (min-width:778px) {
  
    .col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.33%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
 .col-m-12 {width: 100%;} 


}
/* for computer  screen */
@media screen and (min-width:992px) {

        nav ul{
justify-content: right;
            display: flex;
        }
        nav ul li{

            transition: .4s;
        }

nav ul li:hover{
transform: scale(1.2);

text-decoration: underline;

}





.col-lg-1 {width: 8.33%;}
        
 .col-lg-2 {width: 16.33%;}
 .col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
 .col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
 .col-lg-9 {width: 75%;}
 .col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
 .col-lg-12 {width: 100%;} 
 }
    
    



*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
main{

font-size: 2rem;
text-align: center;

}
/* header start */
header{
background-color: darkcyan;
text-align: center;
padding:20px 0px;
border-bottom: 3px red solid;
}
.logo-div{
    text-align: center;

    
 }


.logo{
width: 70px; 
 color: ghostwhite;
 height: 70px; 
    
    
 border: rgb(219, 231, 219) 2px solid;
   border-radius: 50%;
 padding: 10px;box-sizing: border-box;
 transition: 1.4s;
    
    
  }
 .logo:hover{
  transform: scale(1.5);
    
 }

 nav ul{
text-align: center;
 list-style-type: none;padding: 10px;
 }
nav ul li{
display: block;
    
 margin: 7px 7px;
 }
 nav ul li a{
     margin: 8px 0px;
text-decoration: none;padding: 12px;
color: white;font-size: 1.6rem;
 background-color: rgb(47, 0, 255);
    border-radius: 15px;
 }
       
        
.icon{
 float: left;
 background-color:rgb(28, 11, 184);
 color:white;
 border: 1px solid greenyellow;
 padding: 5px;
 transition: .4;
    
 }
.icon:hover{
 transform: scale(1.3);
 }










/* header end */
/*  */
/* main start  */
/* banner start  */
#banner-section{
    background-image: url("image download/zakaria-zayane-0uAVsDcyD0M-unsplash.jpg");
    background-size:cover;
    background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;


}
.banner-contents{
padding: 130px 10px;
text-align: center;
font-family: 'Dancing Script', cursive;


}

.banner-contents h1{
margin: 15px auto;
width: 100%;padding: 20px;
font-size:3rem;border-radius: 10px;
background-color: gold;
}
.banner-contents p{
width: 300px;border-radius: 15px;color: red;
margin: 15px auto;background-color: greenyellow;
padding: 15px;
/* font-size: 3rem; */
}
.btn{
padding: 20px;text-transform: uppercase;
border: none;color: rgb(68, 0, 255);background-color: mediumaquamarine;
font-size: 1.6rem;border-radius: 25px;
}


/* banner end  */
/* about us start */
#aboutus{
padding: 2%;
background: greenyellow;
}
.aboutuscontents{
text-align: center;
font-family: 'Lobster', cursive;



}
.aboutuscontents h3{
    font-size: 2.8rem;
margin-bottom: 17px;    
    
}
.aboutuscontents p{
    font-size: 1.5rem;
margin-bottom: 10px;    
    
}



/* about us end */
/* food-menu :start */
#food menu{
padding: 1%;


}
.card-body{

    text-align: center;
}
.card-body img{
/* width: 100%; */
   width: 100%;
height: auto;
display: block;

}
.item-des{
background-color: khaki;
box-sizing: border-box;


}
.itemname{
background-color: lawngreen;
padding: 10px;

}
.item-des > p{
font-size: .9rem;
padding:10px ;
font-weight: bold;
}
.card{

    transform:.4s;
}
.card:hover{
transform: scale(1.1);

}
.btnfood{
    padding: 20px;text-transform: uppercase;
    border: none;color: rgb(68, 0, 255);background-color: mediumaquamarine;
    font-size: 1.6rem;border-radius: 25px;
    margin-bottom: 20px;
    }


/* food-menu :end */
/* main end  */
/* contract starts */

#contract{
padding: 1%;
background-color: lightgreen;

}
.contract-details{
color: rgb(232, 4, 240);
text-align: center;
padding: 20px 0px;
}
.map{
width: 100%;
height: 250px;
position: relative;
top: 60px;




}
.contract-details p,address{
    font-size: 1.2rem;
}
.contract-details h3{
    padding-bottom: 15px;color: rgb(255, 51, 0);
}



/* contract end */
/*  */

/* footer :start */

footer{
background: crimson;
color: wheat;
padding: 2%;
}
footer p{
/* line-height: 10px; */
position: relative;
top: 20px;
font-size: 1.5rem;text-transform: uppercase;
text-align: center;
}
.social-manu{
    text-align: center;
}



.icon-style{
color: white;
/* width: 30px; */
box-sizing: border-box;
/* height: 30px; */
padding: 10px;
border:fuchsia 2px solid;
border-radius: 50%;
margin: 0px 5px;
transition: .5s;
/* text-align:center ; */

}
.icon-style:hover{

transform: scale(1.2);
    background-color: fuchsia;
}


/* footer :end */
















